{% extends 'layout.html' %}
{% block body %}
<div class="section-container">
    <h1 class="center">Info</h1>
    <h4>Payment</h4>
    <p>We accept all major card providers and payment services such as MasterCard, AmericanExpress, ApplePay, AliPay and
        GooglePay.
        <br>
        All payments on this site is handled by 'Stripe'</p>
    <h4>Shipping</h4>
    <p>All orders are packed and sent from Sweden. We ship globally and all shipments are traceable. Shipping for
        posters is free.
    </p>
    <h4>Delivery time</h4>
    <p>We deliver our art prints worldwide. The standard shipping guidelines listed are approximations.
        <br>
        Sweden
        <br>
        Delivered within 4-8 business days.
        <br>
        Europe
        <br>
        Delivered within 7-10 business days
        <br>
        Rest of the world
        <br>
        Delivered within 7-10 business days</p>
    <h4>Return and exchanges</h4>
    <p>Art prints bought from No1 Posters will be returnable within 14 days upon receipt. All prints must be returned
        unused
        and in the original packaging. Returns and exchanges is handled by the customer at your own risk and expenses.
        Please contact us by email with your order confirmation before sending the art print back and we will guide you
        with the
        directions for our return policy. Note that all expenses for the return shipment is paid by the customer.</p>
    <h4>Copyright</h4>
    <p>No1 Posters reserves all rights on this website and is protected by intellectual property rights. Any material on
        this
        website including art prints and images pictures may not be used without permission by No1 Posters.</p>
    <h4>General information</h4>
    <p>Please contact us if you have any enquiries or want to arrange an exhibition:
        <br>
        <br>
        <a class="email" href="mailto:info@example.com">info@example.com</a>
        <br>
        No1 art collective
        <br>
        Drottninggatan 1337
        <br>
        523 13
        <br>
        Linköping
        <br>
        Sweden
    </p>
</div>
{% endblock %}