{% extends 'layout.html' %}
{% block body %}
<div class="section-container">
    <h1 class="center">Privacy policy</h1>
    <h4>Data storing</h4>
    <p>We store our customers shipment information from each purchase in order to fullfill the delivery.
        <br>
        <br>
        All sensitive financial information linked to the purchase and customer is handled by a third party, Stripe.
        <br>
        <br>
        We only store insensitive information about the purchase which could be sent to Stripe in order
        to resolve refunds.
        <br>
        <br>
        Customer shipment information will be stored for a maximum period of 2 years.
        <br>
        <br>
        Stripe information will be stored for a maximum period of 2 years.
        <br>
        <br>
        This site uses cookies in order to store our customers pre-purchase information.
        <br>
        <br>
        By visiting our shop and making purchases you automatically agree to the above.
        <br>
        <br>
        If you at any time would like to see which information we have stored about you just contact us:
        <br>
        <br>
        <a class="email" href="mailto:info@example.com">info@example.com</a>
        <br>
        No1 Posters
        <br>
        Drottninggatan 13
        <br>
        523 13
        <br>
        Linköping
        <br>
        Sweden
    </p>
</div>
{% endblock %}